* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    
}
h1 {
    color: hsl(0, 0%, 100%);
}

span {
    color: hsl(277, 64%, 61%);
}

/* typography */
.lex-font {
    font-family: 'Lexend Deca', sans-serif;
}

.soft-white {
    color: hsla(0, 0%, 100%, 0.75);
}

.softer-white {
    color: hsla(0, 0%, 100%, 0.6);
}

/* layout */
.row-flex {
    display: flex;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

/* main card */

main {
    
    width: 80%;
    top: 50%;
}

.info-container {
    width: 50%;
    border-top-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    background-color: hsl(244, 38%, 16%);
    justify-content: space-evenly;
}

.stats-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.img-container img {
    border-top-right-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    width: 100%;
    height: auto;
}

.overlay {
    : hsl(277, 64%, 61%);
    
}

footer {
    justify-self: flex-end;
}